<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form @submit="sendMessage">
                    <div class="form-group">
                        <label for="email">Email address:</label>
                        <input v-model="email" type="email" class="form-control" placeholder="Enter email" id="email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="message">Message:</label>
                        <textarea v-model="message" class="form-control" name="message">
                        </textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    
</template>

<script>
export default {
    data() {
        return {
            loaded: false,
            email: null,
            message: null,
        }
    },
    mounted() {

    },
    methods: {
        sendMessage(e) {
            e.preventDefault()
            const self = this
            console.log(self)
            Vue.axios.post('/contact',{
                email: self.email,
                message: self.message
            })
            .then(response => {
                alert('Thankyou')
            })
            .catch(error => {
                alert('Failed')
                console.log(error)
            })
        }
    }
}
</script>